<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashscore App</title>
</head>
<body>
    {% if ligas %}
        <section style="display: flex;">
        {% for liga in ligas%}
        <section style="margin-left: 5%;">
            <h1>{{liga.nomeDaLiga}}</h1>
            <img src={{liga.logoDaLiga}} width="100">
            
                <section>
                {% for equipa in liga.equipa_set.all %}
                    <h2>{{equipa.sigla }} - {{equipa.nomeDaEquipa}}</h2>
                    {% for jogador in equipa.jogador_set.all %}
                    <h3>Jogadores:</h3>
                    <section style="display: flex; align-items: center;">
                        <h4>{{jogador.nomeDoJogador}}</h4>
                        <img src={{jogador.fotoDoJogador}} height="90">
                        <h4>Nacionalidade: {{jogador.nacionalidadedoJogador.nacionalidadeNome}}</h4>
                        <img src={{jogador.nacionalidadedoJogador.bandeira}} height="50">
                    </section>
                    {% endfor %}
                {% endfor %}
                </section>
        </section>   
        {% endfor %}
        </section>
    {% endif %}
</body>
</html>