  *{
    font-size: 15px;
    font-weight: 600;
  }


  .container {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    height: auto;
  }

  .left, .main, .right {

  }

  .left {
    width: 20%; /* Adjust the width as needed */
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  

  .main {
    /* background-color: #e0e0e0; */
    flex-grow: 3; /* Makes it twice as large as the sides */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 0;
  }

  .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%; /* Adjust the width as needed */
    align-items: center;
  }

  .mainContentLista{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    margin-top: 10px;
  }

  .mainContentLine{
    display: flex;
    background-color: rgb(181, 181, 181);
    margin: 6px 4%;
    justify-content: space-between;
    border-radius: 6px;
    height: 40px;
    align-content: center;
    padding: 0 4%;
  }


  .mainContentLine section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .mainContentLine section p{
    margin-left: 0;

  }

  .mainContentLineJogos p{
    margin-left: 2%;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .mainContentLineJogos section{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    font-size: 12px;
  }

  .mainContentLineJogos section p{
    font-size: 12px;
  }

  .iconApagar{
    justify-content: flex-end;
    background-color: green;
    width: 1%;
    color: red;
    background-color: transparent;
    border: 0;
  }

  .links{
    text-decoration: none;
    margin-left: 2%;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }



  /* Responsive styles */
  @media screen and (max-width: 600px) {
    *{
      font-size: 12px;
      font-weight: 600;
    }

    .container {
        flex-direction: column;
        padding: 0 0;
    }


    .left, .main, .right {
      width: 100%;
      align-items: center;
    }

    .left{
      width: 100%;
      margin-top: 10px;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }


    .main h1{
      font-size: 15px;
      font-weight: 700;
    }

    .main{
      margin-top: 10px;
      flex-grow: 1;
  }
    
    
    .mainContentLine{
      height: 30px;
      margin: 3px 4%;
    }

    .right{
      margin-top: 20px;
    }
  }
