/* Add this CSS code to your existing stylesheet */

/* General reset */
* {
    margin: 0;
    padding: 0;
}

/* Root variables */
:root {
    --cinzaescurissimo: #333;
    --cinzaescuro: #515151;
    --cinzaclaro: #A4A4A4;
    --cinzabranco: #D9D9D9;
}

.favoritosNome{
    font-size: 22px;
    font-weight: 700;
}


.favoritos{
    display: flex;
    justify-content: flex;

    width: 60%;
    align-content: center;
}

.favoritos ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favoritos ul li{
    background-color: var(--cinzaclaro);
    margin-top: 20px;
    text-align: center;
    width: 50%;
    border-radius: 6px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favoritos ul li h2{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.removeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinzaclaro);
    color: var(--cinzaescuro);
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10px;
}

.removeButton i{
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    color: rgb(211, 187, 0);
}

@media screen and (max-width: 600px) {
    .favoritos ul li h2{
        text-align: center;
        font-size: 14px;
        font-weight: 700;
    }
    .removeButton i{
        font-size: 14px;
        font-weight: 800;
        text-align: center;
        color: rgb(211, 187, 0);
    }
    .favoritos ul li{
       width: 70%;
    }
    
    
}