*{
    margin: 0;
    pad: 0;
}

:root {
    --cinzaescurissimo: #333:
    --cinzaescuro: #515151;
    --cinzaclaro: #A4A4A4;
    --cinzabranco: #D9D9D9;
  }


.dataChanger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 50%; /* Adjust width as needed */
    margin: 0 auto; /* Center the container horizontally */
    border-radius: 6px;
    background-color: #515151;
}

.arrow-button {
    background-color: #ccc; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 50%; /* Make it a circle */
    width: 25px; /* Adjust button width */
    height: 25px; /* Adjust button height */
    font-size: 15px; /* Adjust font size */
    cursor: pointer;
    margin: 0 1.5%;
}

.textDataChanger {
    flex: 1; /* Allow the text to expand and fill the remaining space */
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.jogosAtivos{
    margin-top: 20px;
    border-radius: 6px;
    height: 50vh;
    width: 80%;
    overflow: auto;
    background-color: #515151;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadaLigaComJogosContainer{
    font-size:larger;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    
}

.nomeDaLiga{
    margin-bottom: 1%;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.jogoContainer{
    display: flex;
    background-color: #D9D9D9;
    padding: 0;
    margin: 1% 0;
    border-radius: 6px;
    width: 85%;
    height: 40px;
    justify-content: space-around;
}

.jogoContainer h4{
    margin: 0 2%;
}

.horaDoJogo{
    display: flex;  
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.hora{
    font-size: 9px;
}

.x{
    margin: 0;
    font-weight: 700;
}

.equipasDoJogoLeft{
    font-weight: 100;
    width: 50%;
    min-width: 20%;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
    padding: 0 5%;
    
}
.equipasDoJogoRight{
    display: flex;
    width: 50%;
    min-width: 20%;
    justify-content: flex-start;
    flex-grow: 1;
    align-items: center;
    padding: 0 5%;
    
}

.equipasDoJogo h4{
    
}



.leftSection{
    background-color: #515151;
    border-radius: 6px;
    min-width: 15vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
}


.leftSection h2{
    color: white;
}

.leftSection p{
    color: black;
    font-weight: 700;
    display: flex;
}

.ligaContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 6px;
    margin: 5px 0;
    width: 85%;
    min-height: 7%;
    height: auto;
}

.rightSection{
    color: white;
    background-color: #515151;
    border-radius: 6px;
    min-width: 15vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}