*{
    margin: 0;
    color: black;
}



.mainSection{
    width: 40vw;

    flex-direction: column;
}


.ligaName{
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: orange;
    height: 60px;
    border-radius: 6px;
    color: white;
    padding-left: 2%;
}

.ligaName img{
    float: left;
}


  
.ligaName h1{
    font-weight: 600;
    font-size: 22px;
}

.botoes{
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: auto;
    margin-top: 10px;
    width: 30%;
}

.botoes button{
    font-weight: 600;
    background-color: orangered;
    color: black;
    width: 100px;
    height: 25px;
    min-width: fit-content;
    border-radius: 6px;
    border: 0;
}

.equipas{
    height: 50vh;
    width: 100%;
    background-color: yellow;
    margin-top: 10px;
    border-radius: 6px;
    color: white;
}

.nomesColunas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8%;
    font-size: 16px;
}

.firstNome{
    display: flex;
    justify-content: flex-start;
    order: -1;
    flex-grow: 1;
    min-width: 40%;
}

.restoNomes{
    display: flex;
    width: 21%;
    justify-content: space-between;
}

.nomeToPutMaring{
    padding-left: 2%;
}


.equipaDiv{
    padding: 0 8%;
    display: flex;
    
    justify-content: space-between;;
    margin: 1% 0;
}

.posiFotoENomeEquipa{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
}

.equipaDiv p{
    font-size: 18px;

}

.posiFotoENomeEquipa img{
    padding-left: 4%;
}

.nomeEquipa{
    margin-left: 4%;
}

.restoInfoEquipa{
    display: flex;
    width: 18%;
    justify-content: space-between;
    margin: 0 auto;
}

    .nomeToPutMaringg{
        
    }

    .nomeToPutMaringgg{
        
    }

@media screen and (max-width: 600px) {
    .equipaDiv p{
        font-size: 14px;
    
    }

    .ligaName{
        height: 40px;
        width: 40vw;
    }
}