*{
  font-size: 15px;
  font-weight: 600;
}


.container {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  height: auto;
}

.left, .main, .right {

}

.left {
  width: 20%; /* Adjust the width as needed */
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sideBarButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: aqua;
  height: 32px;
  min-height: fit-content;
  border-radius: 6px;
  width: 60%;
  min-width: 100px;
  border: 0;
  margin: 2% 0;
}

.main {
  background-color: #e0e0e0;
  flex-grow: 3; /* Makes it twice as large as the sides */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 0;
}

.right {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 20%; /* Adjust the width as needed */
}

.mainContentLista{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  margin-top: 10px;
}

.mainContentLine{
  display: flex;
  background-color: aqua;
  margin: 6px 4%;
  justify-content: space-between;
  border-radius: 6px;
  height: 40px;
  align-content: center;
  padding: 0 4%;
}

.mainContentLine div{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  

}

.mainContentLine div p{
  margin-left: 0;

}

.mainContentLineJogos p{
  margin-left: 2%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.mainContentLineJogos div{
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  font-size: 12px;
}

.mainContentLineJogos div p{
  font-size: 12px;
}

.iconApagar{
  color: red;
  background-color: transparent;
  border: 0;
}



/* Responsive styles */
@media screen and (max-width: 600px) {
  *{
    font-size: 12px;
    font-weight: 600;
  }

  .container {
      flex-direction: column;
      padding: 0;
  }

  .left, .main, .right {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .left{
    margin-top: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .main h1{
    font-size: 15px;
    font-weight: 700;
  }

  .main{
    margin-top: 10px;
    padding: 10px;
  }
  .sideBarButtons{
    margin: 0;
    width: 22%;
    min-width: 0;
  }
  .mainContentLine{
    height: 30px;
    margin: 3px 4%;
  }
}
