
    
.sideBarButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: grey;
    height: 32px;
    min-height: fit-content;
    border-radius: 6px;
    width: 60%;
    min-width: 100px;
    border: 0;
    margin: 3px 0;
  }

  .ligaNome{
    color: white;
    font-size: 13px;
    text-decoration: none;
  }

.leftSection h2{
    color: white;
}

.leftSection a{
    font-weight: 700;
    display: flex;
    text-decoration: none;
}


/* Responsive styles */
@media screen and (max-width: 600px) {


    .left{
        overflow-x: auto;
    }
    .sideBarButtons{
        margin: 0 6px;
        width: 10px;
        background-color: grey;
        overflow-x: auto;
        height:100%;
    }

    
  .ligaNome{
    color: white;
    font-size: 11px;
    text-decoration: none;
  }

  }