.leftSection{
    background-color: transparent;
    border-radius: 6px;
    min-width: 15vw;
    text-align: center;
    align-items: center;
    height: fit-content;
    padding: 5% 0;
}


.leftSection h2{
    color: white;
}

.leftSection a{
    color: black;
    font-weight: 700;
    display: flex;
    text-decoration: none;
}

.ligaContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 6px;
    padding: 2%;
    margin: 5px 0;
    width: 80%;
    min-height: 7%;
    text-align: center;
    height: auto;

}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .leftSection {
        background-color: transparent;
        font-size: 12px;
        flex-direction: row;
        padding: 0;
    }
    .ligaContainer{
        height: 16px;
        width: 100px;
        margin: 0 5px;
    }

    .left, .main, .right {
        width: 100%;
    }
  }