.button-link {
    text-decoration: none;
}

.button {
    background-color: #757575; /* Button color */
    color: #ffffff; /* Text color */
    border: none;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3; /* Button color on hover */
}